@import './../../style/main.scss';

.searchbox {
	direction: rtl;
	@include size(250px, 50px);
	@include center;
	@include border(color(primary));

	&__input {
		@include clear-input;
		@include size(200px, 48);
		text-align: right;
		padding: 3px 6px;
		padding-right: 2ch;
		background: transparent;

		&,
		&::placeholder {
			font-size: 18px;
			font-family: font(yekan, medium);
		}

		&::placeholder {
			color: color(primary);
		}

		color: color(gray);

		&:hover,
		&:active,
		&:focus {
			box-shadow: none;
		}
	}

	&__icon {
		@include size($tog: 48);
		order: -1;
	}
}
