@import './../../style/main.scss';

$btnSize: 50px;

.cart,
.buy {
	@include clear-button;
	@include size($tog: $btnSize);
	@include relative;
	display: inline-grid;
	place-items: center;
	place-content: center;
	background: transparent;
	color: color(primary);
	border: 2px solid #{color(primary)};
	overflow: hidden;

	&__icon {
		@include size($tog: 18px);
		color: inherit;
		transition: 0.4s 0.4s cubic-bezier(0.5, 1.75, 0.75, 1.25) stroke;
		z-index: 1;
	}

	&::before {
		@include absolute($top: 100%, $left: 0, $right: 0, $bottom: 0);
		@include size($tog: 100%);
		content: '';
		display: block;
		background: color(primary);
		z-index: 0;
	}

	&,
	&::before {
		transition: 0.4s cubic-bezier(0.5, 1.75, 0.75, 1.25) all;
	}

	&:active::before {
		transform: scale(0.8);
	}

	&:hover &__icon {
		stroke: color(secondary);
	}
}

.cart {
	&::before {
		top: 100%;
	}

	&:hover::before {
		top: 0;
	}

	&:hover &__icon {
		transform: scale(1.1);
	}
}

.buy {
	&,
	&::before {
		border-top: {
			right-radius: $btnSize;
			left-radius: $btnSize;
		}
	}

	&::before {
		top: 0;
		transform: scale(0);
	}

	&:hover::before {
		transform: scale(1);
	}

	&:hover &__icon {
		transition: 0.4s cubic-bezier(0.5, 1.75, 0.75, 1.25) all;
	}
}
