@import './../../style/main.scss';

.favorite {
	@include size(100%, 97vh);
	background: color(secondary);
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: 1fr;
	grid-template-areas:
		'header'
		'header'
		'products'
		'products'
		'products'
		'products'
		'products'
		'products'
		'products'
		'products'
		'products';
	place-content: center;
	place-items: center;
	// padding: 30px 60px;
	row-gap: 25px;

	&__header {
		grid-column: 1;
		grid-area: header;
	}

	&__products {
		grid-column: 1;
		grid-area: products;
	}
}

.favorite {
	&__products {
		@include center;
		@include size(100%, calc(100% - 85px));
		justify-content: space-around;
		margin-bottom: -75px;
	}

	&__product {
		// width: 33% !important;
	}
}

.favorite {
	&__header {
		@include size(100%, 85px);
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas: 'more more line line line line line line line headline headline headline';
		place-content: center;
		place-items: center;
		margin: 0 60px;
	}

	&__headline {
		grid-area: headline;
		grid-row: 1;
	}

	&__line {
		grid-area: line;
		grid-row: 1;
		@include size(100%, 2px);
		background: color(primary);
	}

	&__more {
		grid-area: more;
		grid-row: 1;
	}
}
