.image-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 100%;
    place-content: center;
    place-items: center;
    position: relative;
    padding: 0;
    margin: 0;
}

/* fix the `next/image` component styling */
.image-wrapper > span {
    position: initial !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 4;
}
