@import './../../style/main.scss';

$linkActive: color(white);
$linkDisActive: color(primary);

::selection {
	background: color(primary);
	color: color(secondary);
}

.navigation {
	&,
	&__link {
		@include size(100%, 50px);
	}

	position: sticky;
	top: 0;

	&,
	&__list,
	&__item,
	&__link {
		@include center;
	}

	&__list {
		@include clear-list;
		@include clear-space;
		@include size;
		flex-direction: row-reverse;
	}

	&__item {
		display: inline-flex;
		color: color(primary);
		width: calc(100% / 6);
	}

	&__link {
		@include relative;
		text-decoration: none;
		display: inline-grid;
		place-items: center;
		place-content: center;
		color: inherit;
		font-size: 20px;
		font-family: font(yekan, medium);
		overflow: hidden !important;
	}

	&__text {
		padding: 8px;
	}

	&__item,
	&__link,
	&__text {
		text-align: center;
	}

	&__text {
		&:nth-child(1) {
			transform: translateY(-25px);
			background: color(primary);
			color: color(secondary);
			opacity: 0;
		}

		&:nth-child(2) {
			transform: translateY(-25px);
			opacity: 1;
		}
	}

	&__item {
		&--active {
			& .navigation__text:nth-child(2) {
				color: color(white);
				@include border(color(white), bottom);
			}
		}

		&:hover {
			& .navigation__text:nth-child(1) {
				@include border(color(primary), top);
				transform: translateY(22px);
				opacity: 1;
				width: 100%;
			}
			& .navigation__text:nth-child(2) {
				transform: translateY(22px);
				opacity: 0;
			}
		}
	}
}

// startup animations
@keyframes push-in {
	from,
	0% {
		transform: translateY(-50px);
	}

	to,
	100% {
		transform: translateY(0);
	}
}

.navigation {
	overflow: hidden;
	&__item {
		animation: push-in ease both;
		animation-duration: 0.5s;
		// TOGGLE : animation-timing-function: cubic-bezier(0.5, 1.75, 0.75, 1.25);
		transform: translateY(-2px);
	}

	$delay: 1; // start delay from
	// HINT : `to 7` to selecting 6 element
	@for $index from 1 to 7 {
		&__item:nth-child(#{$index}) {
			animation-delay: unquote('#{$delay}s');
			$delay: $delay + 0.5; // delay steps
		}
	}
}
