@import './../../style/main.scss';

$linkActive: color(white);
$linkDisActive: color(primary);

::selection {
	background: color(primary);
	color: color(secondary);
}

.navigation {
	&,
	&__link {
		@include size(100%, 40px);
	}

	position: sticky;
	top: 0;

	&,
	&__list,
	&__item,
	&__link {
		@include center;
	}

	&__list {
		@include clear-list;
		@include clear-space;
		@include size;
		flex-direction: row-reverse;
	}

	&__item {
		display: inline-flex;
		color: color(primary);
		width: calc(100% / 6);
	}

	&__link {
		@include relative;
		text-decoration: none;
		display: inline-grid;
		place-items: center;
		place-content: center;
		color: inherit;
		font-size: 20px;
		font-family: font(yekan, medium);
		overflow: hidden !important;
	}

	&__text {
		padding: 8px;
	}

	&__item,
	&__link,
	&__text {
		text-align: center;
	}

	&__text {
		&:nth-child(1) {
			transform: translateY(-25px);
			background: color(primary);
			color: color(secondary);
			opacity: 0;
		}

		&:nth-child(2) {
			transform: translateY(-25px);
			opacity: 1;
		}
	}

	&__item {
		&--active {
			color: color(white);

			& .navigation__text:nth-child(2) {
				@include border(currentColor, bottom);
			}
		}

		&:hover {
			& .navigation__text:nth-child(1) {
				@include border(color(primary), top);
				transform: translateY(22px);
				opacity: 1;
				width: 100%;
			}
			& .navigation__text:nth-child(2) {
				transform: translateY(22px);
				opacity: 0;
			}
		}
	}
}
