@import './../../style/main.scss';

.header {
	@include size(100%, 200px);
	@include center;
	justify-content: space-around;
	align-items: flex-start;
	position: sticky;
	top: 0;
	padding: 5px 25px;

	&__center {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		@include size(800px, 100%);
	}

	&__left {
		@include size(350px, 100px);
		display: inline-grid;
		grid-auto-flow: column dense;
		place-content: center;
		place-items: flex-start;
		justify-content: space-around;
		order: -1;
	}

	&__right {
		display: inline-grid;
		grid-auto-flow: column dense;
		place-content: center;
		place-items: flex-start;
		@include size(400px, 100px);
	}

	&__title {
		@include clear-space;
		font-size: 60px;
		font-family: font(yekan, medium);
		color: color(white);
		letter-spacing: 0.85px;
		@include size(90%, 100px);
		padding: 9px 18px;
		display: inline-grid;
		place-content: center;
		place-items: center;
		@include border(color(white), bottom);
		margin: 18px auto;
	}

	&__navigation {
		width: 90%;
	}

	&__cart {
	}

	&__searchbox {
		@include size(300px);
	}

	&__avatar {
	}
}

.header {
	overflow: hidden;
	animation: push-in 0.5s ease both;
}
