@import './../../node_modules/@yek/sass/dist/index.scss';
@import './../assets/fonts/fonts.scss';

$color-primary: #dfad8a;
$color-secondary: #165752;
$color-active: #f5b56b;
$color-white: #ffffff;
$color-gradient: linear-gradient(178deg, #07070700, #000000);
$font-yekan-light: 'yekan-bakh-light';
$font-yekan-regular: 'yekan-bakh-regular';
$font-yekan-medium: 'yekan-bakh-medium';
$font-yekan-bold: 'yekan-bakh-bold';
$font-yekan-heavy: 'yekan-bakh-heavy';
$font-yekan-fat: 'yekan-bakh-fat';

@include clear-root;
@include set-root(
	(
		color-primary: $color-primary,
		color-secondary: $color-secondary,
		color-active: $color-active,
		color-white: $color-white,
		color-gr-shadow: $color-gradient,
		font-yekan-light: $font-yekan-light,
		font-yekan-regular: $font-yekan-regular,
		font-yekan-medium: $font-yekan-medium,
		font-yekan-bold: $font-yekan-bold,
		font-yekan-heavy: $font-yekan-heavy,
		font-yekan-fat: $font-yekan-fat,
	)
);

body {
	background: color(secondary);
	@include useFont(yekan, bold);
}
