@import './../../node_modules/@yek/sass/dist/index.scss';

$color-primary: #dfad8a;
$color-secondary: #165752;
$color-gray: #dfad8a;
$color-white: #ffffff;
$color-gradient: linear-gradient(178deg, #07070700, #000000);

@include clear-roots;
@include set-root(
	(
		color-primary: $color-primary,
		color-secondary: $color-secondary,
		color-gray: $color-gray,
		color-white: $color-white,
		color-gr-shadow: $color-gradient,
	)
);

body {
	background: color(secondary);
}
