// 60%
$color-primary: #165752;

// 30%
$color-secondary: #dfad8a;

// 2%
$color-accent: #f5b56b;

$color-gray: #07070700;
$color-black: #000000;
$color-white: #ffffff;

$color-gradient: linear-gradient(178deg, $color-gray, $color-black);
