@mixin setup-font-face($name, $path) {
    @font-face {
        font-family: '#{$name}';
        src: url('#{$path}.eot'); /* IE9*/
        src: url('#{$path}.eot?#iefix') format('embedded-opentype')
                /* IE6-IE8 */,
            url('#{$path}.woff2') format('woff2') /* chrome、firefox */,
            url('#{$path}.woff') format('woff') /* chrome、firefox */,
            url('#{$path}.ttf') format('truetype')
                /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/;
    }
}

@function byAssetsPath($path) {
    @return '/zhivan-style-landing-page/assets/fonts/Yekan Bakh/#{$path}/YekanBakh-#{$path}';
}

@include setup-font-face('yekan-bakh-light', byAssetsPath('Light'));
$font-yekan-light: 'yekan-bakh-light';

@include setup-font-face('yekan-bakh-regular', byAssetsPath('Regular'));
$font-yekan-regular: 'yekan-bakh-regular';

@include setup-font-face('yekan-bakh-medium', byAssetsPath('Medium'));
$font-yekan-medium: 'yekan-bakh-medium';

@include setup-font-face('yekan-bakh-bold', byAssetsPath('Bold'));
$font-yekan-bold: 'yekan-bakh-bold';

@include setup-font-face('yekan-bakh-heavy', byAssetsPath('Heavy'));
$font-yekan-heavy: 'yekan-bakh-heavy';

@include setup-font-face('yekan-bakh-fat', byAssetsPath('Fat'));
$font-yekan-fat: 'yekan-bakh-fat';
