*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root,
#__next {
    display: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'yekan-bakh-regular', serif, sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow: auto;
    overflow-x: hidden;
    background: $color-white;
    color: $color-black;
}

//! for sticky-header
// html, body { overflow: hidden; }

#root,
#__next {
    flex-direction: row;
    max-height: 100vh;
    place-content: flex-start;
    scroll-behavior: smooth;
}

#__next {
    //! apply your default background in here
    background: $color-white;
}
