@import './../../style/main.scss';

.headline {
	display: inline-grid;
	place-items: flex-end;
	place-content: center;
	grid-template-rows: 1fr 1fr;
	@include border(color(primary), right);
	font-family: font(yekan, bold);
	padding: 9px 16px;

	& {
		&--h1 &__title {
			font-size: 60px;
		}
		&--h1 &__description {
			font-size: 48px;
		}
	}

	& {
		&--h2 {
			height: 85px;
		}

		&--h2 &__title {
			font-size: 42px;
		}

		&--h2 &__description {
			font-size: 24px;
		}
	}

	& {
		&--h3 {
			height: 65px;
		}

		&--h3 &__title {
			font-size: 36px;
		}
		&--h3 &__description {
			font-size: 18px;
		}
	}

	& {
		&--h4 {
			height: 45px;
		}

		&--h4 &__title {
			font-size: 24px;
		}
		&--h4 &__description {
			font-size: 16px;
		}
	}

	& {
		&--h5 {
			height: 48px;
		}

		&--h5 &__title {
			font-size: 18px;
		}
		&--h5 &__description {
			font-size: 16px;
		}
	}

	&__title {
		@include clear-space;
		color: color(white);
	}

	&__description {
		display: inline-block;
		color: color(primary);
	}

	&__title,
	&__description {
		text-align: right;
	}
}
