@import './../../style/main.scss';

.avatar {
	@include center;
	flex-direction: row-reverse;
	@include size(300px, 100px);

	&__image {
		@include image-fit-cover;
		@include size($tog: 50px);
		@include border(color(primary));
		z-index: 3;
	}

	&__name {
		@include relative;
		display: inline-block;
		padding: 8px;
		margin-right: 24px;
		font-size: 24px;
		font-family: font(yekan, medium);
		color: color(primary);
		z-index: 2;
		cursor: pointer; // NOTE : remove after adding <a> element on JSX

		&::before {
			@include absolute($left: 0, $right: 0, $bottom: -2px);
			@include size(100%, 2px);
			content: '';
			display: block;
			background: color(primary);

			z-index: -1;
		}
	}

	&:hover &__name {
		color: color(secondary);
		font-family: font(yekan, bold);
	}
}

@mixin full-component-interaction {
	.avatar:hover {
		position: relative;
	}

	.avatar:hover .avatar {
		&__image {
			border-width: 5px;
			border-color: color(secondary);
		}

		&__name {
			position: initial;

			&::before {
				bottom: 16px;
				height: calc(100% - 32px);
			}
		}
	}
}

@mixin link-component-interaction {
	.avatar:hover .avatar__name::before {
		bottom: -2px;
		height: 100%;
	}
}

@include full-component-interaction;
