@import './../../style/main.scss';

.cover {
	@include relative;
	display: grid;
	place: {
		item: center;
		content: center;
	}
	@include size(450px, 700px);
	// outline: 1px solid red;

	&::before,
	&::after {
		@include absolute;
		content: '';
		display: block;
	}

	&--rounded &::before,
	&--rounded &::after {
		border-top: {
			right-radius: 100rem;
			left-radius: 100rem;
		}
	}

	&::before {
		@include size(100%, 600px);
		bottom: 0;
		@include border(color(primary));
		z-index: 1;
	}

	&::after {
		@include size(450px, 580px);
		background: color(primary);
		z-index: 0;
	}

	&--rounded &::after {
		bottom: 30px;
		left: -20px;
	}

	&__image {
		display: inline-block;
		max-width: 480px;
		// height: auto;
		height: 690px;
		object-fit: cover;
		transform: translateY(-25px);
		z-index: 2;
	}
}

.cover {
	transition-delay: 0.1s;

	&,
	&::before,
	&::after,
	&__image {
		transition-duration: 0.4s;
		transition-timing-function: cubic-bezier(0.5, 1.75, 0.75, 1.25);
	}

	&::before {
		transition-property: left, bottom;
	}

	&--rounded:hover &::before {
		border-radius: 0 0 100rem 100rem;
	}

	&:hover {
		transform: translateY(-20px) scale(0.9);

		&::before {
			border: {
				color: color(secondary);
				width: 4px;
			}
			left: -30px;
			bottom: 100px;
			// transform: translateY(-20px) translateX(-20px);
		}

		&::after {
			transform: scale(1.1);
		}
	}

	&:hover &__image {
		transform: translateX(-20px) translateY(7px);
	}
}
